body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;     
}

.road-container {
    width: 800px; 
    height: 800px;
    overflow: hidden;
    position: relative; 
    margin: 0 auto; 
}


.road-strip img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.car {
    position: absolute;
    bottom: 50px;
    left: 370px; 
    width: 60px;
    z-index: 10;
    transition: left 0.3s ease;
}

.enemy {
    position: absolute;
    width: 60px;
    height: 120px;
    z-index: 5;
}
.player {
    position: absolute;
    top: 500px; 
    left: 398px; 
    width: 50px;
    transition: left 0.3s ease;
}

@media (max-width: 768px) {
    .car {
    position: absolute;
    bottom: 50px;
    left: 100px; 
    width: 35px;
    z-index: 10;
    transition: left 0.3s ease;

    }
    .enemy {
    position: absolute;
    width: 35px;
    height:70px;
    z-index: 5;
}
}