/* html болон body-гийн өндөрийг 100% болгоно */
html, body {
    height: 100%;
    margin: 0;        /* default margin-ийг арилгана */
    padding: 0;       /* padding арилгана, эсвэл хүсвэл үлдээж болно */
}

body { 
    font-family: Arial; 
    background-image: url("jj.jpg");
    background-size: cover;          /* Бүх дэлгэцийг дүүргэнэ */
    background-repeat: no-repeat;
    background-position: center;
}



#letters button { 
    margin: 2px; 
    width: 50px; 
    height: 50px; 
}

#maskedWord { 
    font-size: 60px; 
    letter-spacing: 6px; 
    margin: 12px 0; 
    padding-top:50px;
    display:flex;
    justify-content: center;
    color:#E2E5DE;
    color:rgb(242, 243, 245);
}
#letters {
    display:flex;
    justify-content: center;
}
.img1 {
    width: 100vw;   
    height: 100vh;
    object-fit: cover; 
}
.title {
    display:flex;
    justify-content: center;
    color:#E2E5DE;
    color:rgb(242, 243, 245);
    font-size:50px;
}
.container {
    height:90px;
    flex-direction:row;
}
#hangmanImg {
    display:flex;
    margin-left:620px;
    height:300px;
    margin-top:-50px;
}

@media (max-width: 600px) {
    body {
        background-size: cover;      /* бүх дэлгэц дүүргэнэ, aspect ratio хадгалах */
        background-position: center; /* төвд байрлуулна */
        min-height: 100vh;           /* viewport өндөртэй тэнцэнэ */
    }
}
body {
    background-image: url("jj.jpg"); /* Зурагны зам */
    background-size: cover;          /* Бүх дэлгэцийг дүүргэнэ */
    background-repeat: no-repeat;    /* Давтагдахаас сэргийлэх */
    background-position: center;     /* Дунд төвд байрлуулна */
}



/* Таблет (601px - 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        background-position: center center; /* Таблетэд төвд */
    }
}

/* Том дэлгэц (1025px-с дээш) */
@media (min-width: 1025px) {
    body {
        background-position: center center; /* Компьютерийн дэлгэцэд төвд */
    }
}
