.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    height: 60px;
    width: 82.27%;
    display: flex;
    gap: 36.8px;
    align-items: center;
    font-family:"Arial";
    font-size:16px;
    line-height:12px;
    padding-left:270px;
    cursor:pointer;
    font-style:normal;
    letter-spacing:0.12px;
    position:fixed;
    top:0;
    background-color:rgba(22, 22, 23, .99);
    background-origin: padding-box;
    z-index: 9999; 
    backdrop-filter: blur(5px);
}
.word3, .word4, .word5, .word6 {
    color: rgba(255, 255, 255, 0.8);
font-family:'Roboto', sans-serif;

display:flex;
margin-left:10px;


}

.logo {
    margin-right:-20px;
}
.input-container input {
  width: 600px;          
  padding: 10px 15px;      
  border: 2px solid #ccc;   
  border-radius: 8px;      
  background-color: #fff;    
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.input-container input:focus {
  border-color: #007bff;    
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 15px; 
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.input-container .input-logo {
  position: absolute;
  right: 547px;      
  top: 46%;                   
  transform: translateY(-45%); 
  width: 20px;
  height: 25px;
  pointer-events: none; 
  color:red;   
}
.container a {
  position: relative; 
  display: inline-block;
}
body {
    margin: 0;
    padding: 0;
}

.rating {
  position: absolute;               
  bottom: 15px;   
  right: 15px;     
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;  
  font-family: Arial, sans-serif;
  display: flex;    
  align-items: center;
  gap: 5px;
}

.rating .star-icon {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.star-icon {
    width: 16px;                     
    height: 16px;                    
    margin-right: 5px;              
    vertical-align: middle;       
}

body {
    margin: 0;
    padding: 0;
}
.img2{
    margin-top:-1.2px;
    width:100%;
    transition: 0.3s ease;
}
.img1 {
  margin-top: 44px;
  position: relative; 
}

.img-box {
  position: relative;
  overflow: hidden;
}

.img-box img {
  display: block;
}


.img-box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: 0.3s ease;
}


.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: black;
  font-size: 22px;
  font-weight: 600;

  background:white;
  padding: 14px 32px;
  border-radius: 30px;

  opacity: 0;
  transition: 0.3s ease;
  z-index: 2;

  pointer-events: none; 
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


.img-box:hover .overlay-text {
  opacity: 1;
}


.img-box:hover .overlay-text {
  transform: translate(-50%, -50%) scale(1.05);
}


.rating {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating .star-icon {
  width: 16px;
  height: 16px;
}
.img2 a:hover img {
    opacity: 0.7;
}
.second-container {
  display: flex;
  width: 100%;
  margin-top: 8px;

  padding-left: 12px; 
  gap: 12px;     
  box-sizing: border-box;
}

.img3,
.img4 {
  flex: 1;         
}

.img3 img,
.img4 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}



.third-container {
  display: flex;
  width: 100%;
  margin-top: 8px;

  padding-left: 12px;  
  gap: 12px;       
  box-sizing: border-box;
}

.img5,
.img6 {
  flex: 1;        
}

.img5 img,
.img6 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.fourth-container {
  display: flex;
  width: 100%;
  margin-top: 8px;

  padding-left: 12px;  
  gap: 12px;        
  box-sizing: border-box;
}

.img7,
.img8 {
  flex: 1;        
}

.img7 img,
.img8 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.slider {
  width: 99vw;     
  height: 100vh;  
  overflow: hidden;
  margin-top:7px;
}
.body{
    right:0;
}
.bag{
    padding-bottom:2px;
}
.slides {
  display: flex;
  width: calc(80vw * 10);  
  height: 80vh;
  animation: slide-left 80s infinite linear;
  gap:15px;
  pointer-events: auto;
}

.slides img {
  width: 97vw;
  height: 90.4vh;
  object-fit: contain;      
  background: #000; 
}


@keyframes slide-left {
  0%   { transform: translateX(0); } 
  100% { transform: translateX(-900vw); }  
}

.fifth-container {
  display: flex;
  gap: 15px;
  margin-top: -33px;
  position: relative;
  padding-left: 12px;    
  box-sizing: border-box;
}


.three-photo {
  display: flex;
  gap: 15px;
  flex: 3;         
}


.img12 {
  flex: 1;             
}


.three-photo .img-box,
.img12.img-box {
  flex: 1;
  position: relative;
  overflow: hidden;    
  transition: 0.3s ease;
}

/* Зураг */
.three-photo img,
.img12 img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: 0.3s ease;
}


.fifth-container a:hover img {
    opacity: 0.5;
}

.column ul{
    list-style: none; 
    width:175px;
    height:300px;
    line-height: 25px;
}
.column li{
    color:#515756;
}
.nineth-container{
    background-color:#949494;
    padding-left:260px;
    padding-right:260px;
    margin-top:8px;
    height:0.5px;
    
}
.tenth-container{
    display:flex;
    margin-top:20px;
    gap:4px;
}
.word{
    color:#187bcd;
    text-decoration:underline;
    font-weight: "600";
}
.copyright{
    display:flex;
    gap:10px;
    margin-top:10px;
}






@media (max-width: 768px) {
    html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.logo {
    margin-right:10px;
}
  .list {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    gap: 14px;
    font-size: 14px;
  }


  .input-container {
    flex: 1;        
    max-width: 80%;
    position: relative;
  }

  .input-container input {
    width: 100%;
    box-sizing: border-box;
    padding-right: 80px; 
  }





  .word3, .word4, .word5, .word6 {
    display: none; 
  }

  .container {
    gap: 0px;
  }

  
  .second-container,
  .third-container,
  .fourth-container,
  .fifth-container {
    flex-direction: column;
    padding-left: 8px;
    padding-right: 8px;
  }

  .img4,
  .img5, .img6,
  .img7, .img8, .img9, .img10,
  .img12, .img11{
    width: 100%;
  }

  .img1, .img2, .img3 {
  width: 100%;
  object-fit: cover; 
  object-position: center; 
  display: block;
  height: 30vh;
}

.img1 img,
.img2 img,
.img3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

    .slider {
    height: 50vh;
    width:119vw;
  }

  .slides img {
    height: 44.4vh;
    object-fit: cover;
  }

  .copyright {
    flex-direction: row;
    font-size: 12px;
  }
  .img-box a {
  display: block;
  height: 100%;
}
.img12.img-box {
  width: 100%;
}
.img12 img {
  width: 100%;
  height: 30vh;  
  object-fit: cover; 
  object-position: center; 
  display: block;
}

  .three-photo {
    flex-direction: column;
  }

 
  .overlay-text {
    font-size: 16px;
    padding: 10px 20px;
  }


  .rating {
    font-size: 14px;
    padding: 4px 8px;
  }
  .rating {
  position: absolute;               
  bottom: 15px;   
  right: 15px;     
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;  
  font-family: Arial, sans-serif;
  display: flex;    
  align-items: center;
  gap: 5px;
}

.rating .star-icon {
  width: 16px;
  height: 16px;
  pointer-events: none;
}

}






@media (max-width: 1024px) {

    html, body {
    width: 100%;
    overflow-x: hidden;
  }
  .list {
    width: 99%;
    padding-left: 40px;
  }
  .logo {
    margin-right:10px;
}
   .word3, .word4, .word5, .word6 {
    display: none !important;
  }
  .input-container input {
    width: 320px;
  }
  .img4,
  .img5, .img6,
  .img7, .img8, .img9, .img10,
  .img12, .img11{
    width: 100%;
  }

  .second-container,
  .third-container,
  .fourth-container {
    padding-left: 10px;
    gap: 10px;
  }

  .fifth-container {
    flex-direction: column;
  }

  .three-photo {
    flex: 1;
  }
   .slider {
    height: 50vh;
    width:119vw;
  }

  .slides img {
    height: 44.4vh;
    object-fit: cover;
  }

  .img12 img {
    width: 100%;
    height:38vh;
  }
    .img1, .img2, .img3 {
  width: 100%;
  height:45vh;
  object-fit: cover; 
  object-position: center; 
  display: block;
  height: 30vh;
}

.img1 img,
.img2 img,
.img3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

}





            